.header_text{
    -fx-font-size: 25pt;
    -fx-text-fill: white;
    -fx-font-family: "verdana";
    -fx-font-weight: bold;
    -fx-color: white;
}

.framed{
    -fx-padding:10;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-radius: 5;
}